<div class="box-info full" >
	<div class="panel">
		<div class="panel-heading">
			<h2 class="text-center">
				<strong>Editando Comissão Eleitoral</strong>
			</h2>
		
			<%= render 'form' %>
		</div>
	</div>
</div>