<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cargo_representante_de_turma.descricao %>
</p>

<%= link_to 'Edit', edit_cargo_representante_de_turma_path(@cargo_representante_de_turma) %> |
<%= link_to 'Back', cargo_representante_de_turmas_path %>
