<div class="box-info full" >
	<div class="panel">
		<div class="panel-heading">
			<h2 class="text-center">
				Editando Comissão Pró-Grêmio
			</h2>
			
			<%= render 'form' %>
		</div>
	</div>
</div>