<div class="box-info full" >
	<div class="panel">
		<div class="panel-heading">
			<h2><strong> Cadastrando Cargo (Membro de Conselho Fiscal) </strong></h2>
		</div>
		
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>