<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cargo_membro_conselho_fiscal.descricao %>
</p>

<%= link_to 'Edit', edit_cargo_membro_conselho_fiscal_path(@cargo_membro_conselho_fiscal) %> |
<%= link_to 'Back', cargo_membro_conselho_fiscais_path %>
