<table class="table">
	<thead>
		<tr> <th> <h2 class="text-primary"> Grêmio Estudantil - Ações </h2> </th> </tr>
	</thead>
	<tbody>
		<tr>
			<td> <h5> São muitas as ações do Grêmio Estudantil na escola, entre elas podemos destacar: </h5> </td>
		</tr>
		<tr>
			<td>
				<ul>
					<li> Integrar os alunos e a comunidade, promovendo eventos culturais como projeção de filmes, peças teatrais, gincanas, concursos de poesia, coral, festival de dança, de música, etc.; </li>
					<li> Organização de campeonatos esportivos nas diversas modalidades; </li>
					<li> Organizar palestras sobre, violência, drogas, sexualidade, meio ambiente, entre outras; </li>
					<li> Organizar e divulgar campanhas de agasalho, de alimentos e de outros recursos para as populações carentes; </li>
					<li> Organizar o jornal e a rádio da escola; </li>
					<li> Organizar movimentos para discussão de assuntos de interesse da escola e da comunidade escolar. </li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<label style="font-style: italic;" class="text-primary"> Fonte: </label> <a href="http://www.alunos.diaadia.pr.gov.br/modules/conteudo/conteudo.php?conteudo=147" target="_blank"> Grêmio Estudantil - Ações </a>
			</td>
		</tr>	
	</tbody>
</table>