<table class="table">
	<thead>
		<tr> <th> <h2 class="text-primary"> Grêmio Estudantil - Ações </h2> </th> </tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<h4> Como organizar o Grêmio da sua escola? </h4>
				
				<p>
					Constituir uma comissão Pró-Grêmio, formada por alunos representantes de turma ou escolhida entre seus pares. Essa comissão Pró-Grêmio deverá realizar um estatuto e organizar a assembleia geral de alunos. 
					Nessa Assembleia, deverá ser esclarecido a todos os alunos: o que é um Grêmio, qual a finalidade do Grêmio na escola; deve ser apresentado e aprovado o Estatuto do Grêmio e deve ser formada a Comissão Eleitoral. 
				</p>
				<p>
					No início da reunião, deve-se escolher um participante para secretariá-la, isto é, aquele que ficará com a incumbência de escrever tudo o que houve na reunião, quem compareceu, a que horas se iniciou, em que local se deu; quais assuntos foram tratados, quantos votaram pela aprovação e quantos votaram contra.
					No final da reunião, todos os presentes devem assinar esse documento. A Comissão eleitoral ficará com a responsabilidade de marcar a data da eleição e receber a inscrição de chapas e candidatos, fiscalizar o processo eleitoral e resolver eventuais dúvidas que surjam no processo eleitoral. Os membros dessa Comissão devem promover a apuração dos votos, declarar os vencedores e organizar um ato de posse.
				</p>
				<p>
					A organização, o funcionamento e as atividades do Grêmio serão estabelecidas em seu Estatuto, aprovado em Assembleia Geral do corpo discente do estabelecimento de ensino, convocada para este fim, obedecendo à legislação pertinente. A aprovação do Estatuto, a escolha dos dirigentes e dos representantes do Grêmio serão realizadas pelo voto direto e secreto de cada aluno, observando-se, no que couber, as normas da legislação eleitoral.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<label style="font-style: italic;" class="text-primary"> Fonte: </label> <a href="http://www.alunos.diaadia.pr.gov.br/modules/conteudo/conteudo.php?conteudo=147" target="_blank" class="btn btn-xs" > Grêmio Estudantil - Ações </a>
			</td>
		</tr>	
	</tbody>
</table>