<table class="table">
	<thead>
		<tr> <th> <h2 class="text-primary"> Grêmio Estudantil - Organize em sua escola </h2> </th> </tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p> O grêmio é uma organização sem fins lucrativos que representa o interesse dos estudantes e que tem fins cívicos, culturais, educacionais, desportivos e sociais. </p>
				<p> O grêmio é o órgão máximo de representação dos estudantes da escola. Atuando nele, você defende seus direitos e interesses e aprende ética e cidadania na prática. </p>
				<p>	A Secretaria de Estado da Educação entende que toda representação estudantil deve ser estimulada, pois ela aponta um caminho para a democratização da Escola. Por isso, o Grêmio nas Escolas públicas deve ser estimulado pelos gestores da Escola, tendo em vista que ele é um apoio à Direção numa gestão colegiada. </p>
				<p> Os Grêmios Estudantis compõem uma das mais duradouras tradições da nossa juventude. Pode-se afirmar que no Brasil, com o surgimento dos grandes estabelecimentos de ensino secundário, nasceram também os Grêmios Estudantis, que cumpriram sempre um importante papel na formação e no desenvolvimento educacional, cultural e esportivo da nossa juventude, organizando debates, apresentações teatrais, festivais de música, torneios esportivos e outras festividades. </p>
				<p> As atividades dos Grêmios Estudantis representam para muitos jovens os primeiros passos na vida social, cultural e política. Assim, os Grêmios contribuem, decisivamente, para a formação e o enriquecimento educacional de grande parcela da nossa juventude. </p>
				<p> O regime instaurado com o golpe militar de 1964 foi, entretanto, perverso com a juventude, promulgando leis que cercearam a livre organização dos estudantes e impediram as atividades dos Grêmios. Mas a juventude brasileira não aceitou passivamente essas imposições. </p>
				<p>Em muitas Escolas, contrariando as leis vigentes e correndo grandes riscos, mantiveram as atividades dos Grêmios livres, que acabaram por se tornar importantes núcleos democráticos de resistência à ditadura. Com a redemocratização brasileira, as entidades estudantis voltaram a ser livres, legais, ganhando reconhecimento de seu importante papel na formação da nossa juventude. Em 1985, por ato do Poder Legislativo, o funcionamento dos Grêmios Estudantis ficou assegurado pela Lei n. 7.398, como entidades autônomas de representação dos estudantes. </p>
			</td>
		</tr>
		<tr>
			<td>
				<label style="font-style: italic;" class="text-primary"> Fonte: <a target="_blank" class="btn btn-xs" href="http://www.alunos.diaadia.pr.gov.br/modules/conteudo/conteudo.php?conteudo=144"> Grêmio Estudantil - Organize-o em sua escola </a></label>
			</td>
		</tr>	
	</tbody>
</table>