<div class="box-info full" >
	<div class="panel">
		<div class="panel-heading">
			<h2><strong> Comissão Eleitoral </strong></h2>
		</div>
		
		<div class="panel-body">
			
			<!-- DADOS -->
			
		</div>
	</div>
</div>