<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cargo_membro_chapa.descricao %>
</p>

<%= link_to 'Edit', edit_cargo_membro_chapa_path(@cargo_membro_chapa) %> |
<%= link_to 'Back', cargo_membro_chapas_path %>
