<!DOCTYPE html>
<html>
	
	<head>
		<title>Grêmio Virtual</title>
      	<meta charset="utf-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<meta name="apple-mobile-web-app-capable" content="yes" />
      	<meta name="description" content="">
      	<meta name="author" content="">
      	<!-- Bootstrap -->
      	<link rel="stylesheet" href="/assets/bootstrap.min.css">
      	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
      	<link rel="stylesheet" href="/assets/style.css">
      	<link rel="stylesheet" href="/assets/style-responsive.css">
      	
      	<script src="/assets/jquery.js"></script>
	</head>
	
	<body>
		<div class="container">
			
			<div class="col-xs-12">
				<%= yield %>
			</div>
		</div>
	</body>
	
	<script src="/assets/jquery-maskedinput/jquery.maskedinput.js"></script>
	
</html>
